{% extends "@ezdesign/pagelayout.html.twig" %}

{% block content %}
<div id="parcours" class="zones">
    <div class="container container-full-width header-cover mb-0">
        <div class="opacity-filter light"></div>
        <img class="img-cover" src="images/traileur.jpg" alt="" />
        <div class="testing-infos">
            <span class="infos d-none d-md-block"> 18.09.2019 | Millau, France | Chaussure</span>
            <h1>Trail de Saint Guilhem</h1>
            <p class="d-none d-md-block">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </div>
    </div>

    <div class="container container-full-width pictos-line">
        <div class="container container-rich-text">
            <ul>
                <li class="distance"><img src="images/picto_distance.svg" class="with-margin" alt="" />25,2km</li>
                <li class="elevation-gain"><img src="images/picto_denivele_positif.svg" class="with-margin" alt="" />842D+</li>
                <li class="elevation-drop"><img src="images/picto_denivele_negatif.svg" class="with-margin" alt="" />627D+</li>
                <li class="duration"><img src="images/picto_chrono.svg" alt="" />2h43'01"</li>
                <li class="gpx"><a href="#"><img src="images/picto_gpx.svg" alt="" /></a></li>
            </ul>
        </div>
    </div>

    <div class="container container-rich-text">
        <div class="introduction">
            <div class="ezxml-text">
                <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.</p>
            </div>
        </div>
        <div class="iframe-parcours">

            <iframe width="100%" height="300px" frameborder="0" allowfullscreen src="https://umap.openstreetmap.fr/fr/map/trail-des-truffieres-2019_383395?scaleControl=false&miniMap=false&scrollWheelZoom=false&zoomControl=true&allowEdit=false&moreControl=false&searchControl=null&tilelayersControl=null&embedControl=null&datalayersControl=true&onLoadPanel=undefined&captionBar=false&tap=false"></iframe><p><a href="https://umap.openstreetmap.fr/fr/map/trail-des-truffieres-2019_383395">Voir en plein écran</a></p>

        </div>
        <div class="content">
            <div class="ezxml-text">
                <h2>Un parcours ludique</h2>
                <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.</p>
                <p>Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
                <div class="simple-quote">
                    <img class="float-left" src="images/picto_quote.svg" alt=""" />
                    Un trail vaut tous les escaliers du monde
                </div>
            </div>
            <div class="carousel large-height">
                <div class="row">
                    <div class="image col-12">
                        <img class="img-fluid img-cover" src="images/img-art-01.jpg" alt="" />
                    </div>
                    <div class="image col-6 col-md-4">
                        <img class="img-fluid img-cover" src="images/img-art-02.jpg" alt="" />
                    </div>
                    <div class="image col-6 col-md-8">
                        <img class="img-fluid img-cover" src="images/img-art-03.jpg" alt="" />
                    </div>
                </div>
            </div>
            <div class="ezxml-text">
                <h2>Parfait pour les reprises</h2>
                <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.</p>

                <div class="embed-button">
                    <div class="buttons text-uppercase text-center">
                        <a href="#" class="btn btn-rond black padding-large">En savoir plus sur les séances d'intervalles</a>
                    </div>
                </div>

                <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.</p>

                <div class="object image-embed">
                    <img class="img-fluid img-cover" src="images/img-art-04.jpg" alt="" />
                </div>

                <p>Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>

                <h2>Trop roulant ?</h2>
                <p>Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
                <div class="multiple-quote">
                    <div class="border-top-quote"></div>
                    Lorem ipsum dolor sit amet, consetetur sadipscing elit At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum
                </div>

                <p>Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>

                <div class="object image-embed">
                    <img class="img-fluid img-cover" src="images/img-profil.jpg" alt="" />
                </div>

                <p>Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
                <p>Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
            </div>
        </div>
    </div>

    <div class="container container-medium">
        <div class="article-author row">
            <div class="author-image col-12 col-md-4">
                <img class="img-cover" src="images/img-autheur.jpg" />
            </div>
            <div class="author-details col-12 col-md-8">
                <div class="author-title text-center text-md-left text-uppercase">Écrit par</div>
                <div class="author-name text-center text-md-left">Alexia Labbé</div>
                <div class="author-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin aliquam lobortis justo, vel cursus sapien. Morbi vel porttitor libero. Sed et maximus turpis. Maecenas consequat, augue nec suscipit interdum, sem nulla congue ante, eget convallis</div>
                <div class="buttons text-uppercase text-center text-md-right">
                    <a href="#" class="btn btn-rond black padding-large">En savoir plus</a>
                </div>
            </div>
        </div>
    </div>

    <div class="container container-large">
        <hr />

        <div class="more-content more-articles">
            <h2>Plus de parcours</h2>
            <div class="row">
                <div class="more-content-item col-12 col-md-6 col-xl-4">
                    <div class="thumbnail-content">
                        <img class="img-fluid img-cover" src="images/photo-art-recette-related-01.jpg" alt="" />
                    </div>
                    <div class="content">
                        <a href="/integration-html/test.php">Plus de légumes pour mieux digérer</a>
                        <p class="description d-none d-md-block">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin aliquam lobortis justo, vel cursus sapien. Morbi vel porttitor libero. Sed et maximus
                        </p>
                    </div>
                </div>
                <div class="more-content-item col-12 col-md-6 col-xl-4">
                    <div class="thumbnail-content">
                        <img class="img-fluid img-cover" src="images/photo-art-recette-related-02.jpg" alt="" />
                    </div>
                    <div class="content">
                        <a href="#">Nos petits-déjeuners detox</a>
                        <p class="description d-none d-md-block">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin aliquam lobortis justo, vel cursus sapien. Morbi vel porttitor libero. Sed et maximus
                        </p>
                    </div>
                </div>
                <div class="more-content-item col-12 col-md-6 col-xl-4">
                    <div class="thumbnail-content">
                        <img class="img-fluid img-cover" src="images/photo-art-recette-related-03.jpg" alt="" />
                    </div>
                    <div class="content">
                        <a href="#">Les aliments à la mode</a>
                        <p class="description d-none d-md-block">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin aliquam lobortis justo, vel cursus sapien. Morbi vel porttitor libero. Sed et maximus
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}