@white: #ffffff;
@black: #000000;
@greyDark : #606060;
@greyblack : #383838;
@greytext : #686868;
@greyBackground : #E5E5E5;
@lightgrey: #919191;
@verylightgrey : lightgrey;
@progressbarGrey : #EAEAEA;
@green : #9FD659;
@weTrailColor : #FF1500;
@weTrailGradient : linear-gradient(to right, #FFAE46, #FF428D);
@CoverLightGradient :linear-gradient(to bottom, transparent 0%, #000000 100%);
@yellowGold : #ffae46;
@greyopacity: rgba(0,0,0,0.4);
@greyOverlayOpacity: rgba(100, 100, 100, 0.5);
@blackLightGradient : linear-gradient(180deg,transparent,transparent 0%,rgba(0,0,0,0.5) 96%,rgba(0,0,0,0));
@veryLightGradient :linear-gradient(180deg,transparent 10%,rgba(0,0,0,0.1) 50%, transparent 90%);
@blackGradient : linear-gradient(180deg, transparent, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.6) 10%, rgba(0, 0, 0, 0.9) 30%, rgba(0, 0, 0, .6) 100%);
@ProximaNova: 'ProximaNova', sans-serif;
@QuestaGrande: 'QuestaGrande', sans-serif;
@laptop:             ~"only screen and (max-width: 1365.98px)";
@tablet:             ~"only screen and (max-width: 1199.98px)";
@tabletportrait:     ~"only screen and (max-width: 991.98px)";
@mobile:             ~"only screen and (max-width: 767.98px)";
@mobileportrait:     ~"only screen and (max-width: 575.98px)";
@tablet-and-desktop: ~"only screen and (min-width: 1024px)";
@transition-ease: all 0.5s ease;
@transition-visibility-linear : visibility 0s, opacity 0.3s linear;
@box-shadow-light : 0 10px 10px -10px rgba(0,0,0,0.4);
@box-shadow-filter-bars : 0 5px 5px rgba(0, 0, 0, 0.1), -5px 0px 5px rgba(0, 0, 0, 0.1), 5px 0px 5px rgba(0, 0, 0, 0.1);
@box-shadow-news : 0 4px 19px 0 rgba(58,58,60,0.25);
@color1: #dddddd; // Appears 2 times
@color2: #333333; // Appears 2 times


/*=== FONTS ===*/
/* ProximaNova */
@font-face {
  font-family: 'ProximaNova';
  src: url('../fonts/ProximaNova-Regular.eot');
  src: url('../fonts/ProximaNova-Regular.eot?#iefix') format('embedded-opentype'), url('../fonts/ProximaNova-Regular.ttf') format('truetype'), url('../fonts/ProximaNova-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'ProximaNova';
  src: url('../fonts/ProximaNova-Extrabld.eot');
  src: url('../fonts/ProximaNova-Extrabld.eot?#iefix') format('embedded-opentype'), url('../fonts/ProximaNova-Extrabld.ttf') format('truetype'), url('../fonts/ProximaNova-Extrabld.woff') format('woff');
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: 'ProximaNova';
  src: url('../fonts/ProximaNova-Bold.eot');
  src: url('../fonts/ProximaNova-Bold.eot?#iefix') format('embedded-opentype'), url('../fonts/ProximaNova-Bold.ttf') format('truetype'), url('../fonts/ProximaNova-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

/* QuestaGrande */
@font-face {
  font-family: 'QuestaGrande';
  src: url('../fonts/QuestaGrande-Regular.eot');
  src: url('../fonts/QuestaGrande-Regular.eot?#iefix') format('embedded-opentype'), url('../fonts/QuestaGrande-Regular.ttf') format('truetype'), url('../fonts/QuestaGrande-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}


body {
  font-size: 16px;
  font-family: @ProximaNova;
  position: relative;
  min-height: 100%;
}

/* Menu */
.fixed-top.navbar {
  padding: 0px;
  box-shadow: @box-shadow-light;
  >.container {
    @media @tabletportrait {
      display: block;
    }
    .navbar-toggler {
      border: none;
      padding: 25px;
      color: @weTrailColor;
      @media @tabletportrait {
        float: right;
      }
    }
    .navbar-brand {
      @media @tabletportrait {
        float: left;
        padding: 13px 5px 0px 5%;
      }
    }
  }
  .container.menu {
    height: 100px;
    @media @tabletportrait {
      height: 70px;
    }
    margin: 0px auto;
    .navbar-right {
      background-color: @white;
      justify-content: flex-end;
      .navbar-nav {
        @media @tabletportrait {
          height: 100vh;
          /*position: absolute;
          width: 100%;
          top: 70px;
          right: 0px;*/
        }
        .nav-item {
          position: static !important;
          line-height: 80px;
          @media @tabletportrait {
            line-height: 60px;
            border-bottom: 1px solid lightgrey;
          }

          .nav-link {
            color: @greyblack;
            font-weight: bold;
            padding: 0px 30px;
            font-size: 1em;

            &:hover {
              color: @lightgrey;
            }
          }

          &:last-child a {
            padding-right: 0px;
          }

          &.show .nav-link {
            color: @lightgrey;
          }
        }

        .megamenu {
          padding: 20px 20px;
          width: 100%;
          margin: -1px 0px 0px 0px;
          border: none;
          box-shadow: @box-shadow-light;
          @media @tabletportrait {
            padding: 0px 0px 20px 60px;
            box-shadow: none;
          }

          .dropdown-item {
            margin: 0px auto;
            padding: 4px 0px;

            .row {
              .card {
                outline: none;
                border: none;
                max-height: 400px;
                overflow: hidden;
                @media @tabletportrait {
                  padding: 12px 0px;
                }

                .thumbnail {
                  img {
                    height: 400px;
                    width: 100%;
                    transition: @transition-ease;
                    @media @tabletportrait {
                      display: none;
                    }

                    &:hover {
                      transform: scale(1.1);
                    }
                  }

                  span {
                    font-size: 2em;
                    font-weight: 900;
                    position: absolute;
                    bottom: 60%;
                    text-align: center;
                    color: @white;
                    @media @tabletportrait {
                      color: @lightgrey;
                      position: relative;
                      font-size: 1em;
                      height: 1em;
                      background: none;
                      text-align: left;
                    }
                    display: block;
                    width: 100%;
                    background: @veryLightGradient;
                    white-space: pre-wrap;
                    line-height: 1em;
                    height: 2em;
                  }

                  .button {
                    visibility: hidden;
                    opacity: 0;
                    font-size: 1em;
                    font-weight: 900;
                    position: absolute;
                    bottom: 20%;
                    text-align: center;
                    color: white;
                    width: 100%;
                    transition: @transition-visibility-linear;
                    @media @tabletportrait {
                      display: none;
                    }
                  }

                  &:hover .button {
                    visibility: visible;
                    opacity: 1;
                  }
                }
              }

              &:hover, &:active {
                background-color: @white;
                outline: none;
                border: none;
              }
            }

            &:hover, &:active {
              background-color: @white;
              outline: none;
              border: none;
            }
          }
        }

        @media @tabletportrait {
          .megamenu {
            margin-left: 0;
            margin-right: 0;
          }

          .megamenu.dropdown-header {
            padding: 3px 15px !important;
          }
        }
      }
    }
    &.menu-deployed .navbar-brand, &.menu-deployed .navbar-nav .nav-item {
      opacity: 0.15;
    }
    &.menu-deployed .navbar-nav .nav-item.show {
      opacity: 1;
    }
  }
}

/* Footer */
.page-footer {
  color: @lightgrey;
  font-size: 0.875em;
  @media @mobile {
    width: 70%;
    margin: 0px auto;
  }
  a {
    color: @lightgrey;
  }
  .col-item {
    h5 {
      text-align: left;
      margin-top: 10px;
      margin-bottom: 5px;
      color: @greyblack;
    }
  }
  .footer-copyright {
    @media @mobile {
      margin: 0px;
      padding: 0px;
    }
  }
}


/*=== HOMEPAGE ===*/
/* Carousel*/
#carouselHome {
  .carousel-item {
    background-size: cover;
    background-position: center;
    height: 100vh;
    transition: all 1s ease-out;
    .carousel-caption {
      width: 100%;
      right: 0%;
      left: 0%;
      bottom: 35%;
      @media @tablet {
        bottom: 30%;
      }
      @media @mobile {
        bottom: 15%;
      }
      padding: 30px 0px;
      @media @mobile {
        padding: 30px;
      }
      background: @greyopacity;
      color: @white;
      .infos {
        font-size: 1em;
      }
      h2 {
        text-transform: uppercase;
        font-size: 3.5em;
        @media @mobile {
          font-size: 2.5em;
        }
        font-family: @ProximaNova;
        font-weight: 900;
        color: @white;
        padding: 10px 0px;
        margin: 0px;
      }
      p {
        font-size: 1.25em;
        @media @mobile {
          font-size: 1.125em;
        }
      }
      .buttons {
        margin-top: 35px;
      }
    }
  }
  .carousel-control-next, .carousel-control-prev {
    width: 5%;
    z-index: 10;
    @media @mobile {
      display: none;
    }
  }
}

/* Presentation */
.container.presentation {
  margin: 80px auto 120px auto;
  text-align: center;
  .presentation-image {
    height: 150px;
    width: 150px;
    border-radius: 100%;
    margin-bottom: 40px;
  }
  p {
    margin-bottom: 30px;
    line-height: 1.75em;
    font-size: 1.25em;
  }
}

/* Topics bloc */
#topics {
 .topic-item {
   max-height: 600px;
   overflow: hidden;
   padding: 0px;
   margin: 0px -1px;
   .thumbnail {
     img {
       height: 600px;
       @media @tablet {
         height: 300px;
       }
       width: 100%;
       transition: @transition-ease;

       &:hover {
         transform: scale(1.1);
       }
     }

     span {
       font-size: 2em;
       font-family: @ProximaNova;
       font-weight: 900;
       position: absolute;
       bottom: 10%;
       @media @mobile {
         bottom: 40%;
       }
       text-align: center;
       color: white;
       display: block;
       width: 100%;
       background: @veryLightGradient;
       @media @mobile {
         font-size: 1.5em;
       }
     }
   }
 }
}

/* Latests posts bloc */
#latestsPosts {
  .row {
    height: 500px;
    overflow: hidden;
    @media @mobile {
     height: auto;
    }
    .post-item {
      &:hover, &:focus {
        transform: scale(1.02);
      }
      background-size: cover;
      background-position: center;
      min-height: 500px;
      @media @mobile {
        min-height: 400px;
      }
      color: @white;
      display: flex;
      flex-direction: column;
      height: 100%;
      padding: 0px;
      transition: @transition-ease;
      .content {
        flex-grow: 1;
        text-align: center;
      }
      .details {
        background: @blackLightGradient;
        @media @mobile {
         background: @blackGradient;
        }
        padding: 5px 5px 20px 25px;
        display: none;
        @media @tablet {
          display: block;
        }
        color: @white;
        h3{
          margin-bottom: 0px;
          text-align: left;
          line-height: 1em;
          font-size: 3em;
          a {
            &:before {
              content: " ";
              position: absolute;
              top: 0;
              left: 0;
              height: 100%!important;
              width: 100%!important;
              display: block;
              z-index: 4;
            }
          }
        }
        p {
          font-size: 1.5em;
          line-height: 1.125em;
          @media @mobile {
            font-size: 1.125em;
          }
        }
      }
    }
  }
}


/*=== Page LISTE ARTICLES ===*/
.zones {
  margin-top: 100px;
  @media @tabletportrait {
    margin-top: 70px;
  }
  .header-cover {
    height: 75vh;
    padding: 0px;
    position: relative;

    img {
      height: 100%;
      width: 100%;
    }

    .bloc-infos {
      position: absolute;
      bottom: 25%;
      width: 100%;
      color: @white;
      text-align: center;
      .catchline {
        color: @white;
      }
    }

    .testing-infos {
      position: absolute;
      bottom: 9%;
      color: @white;
      text-align: center;
      width: 100%;
      .infos {
        font-size: 1.25em;
      }
      h1 {
        position: relative;
        text-transform: none;
        font-size: 3.75em;
        margin-bottom: 0px;
        @media @mobile {
          font-size: 2.25em;
          padding: 0px 10px;
        }
      }
      p {
        font-size: 1.375em;
        color: @white;
      }
    }

    .articles-filters {
      position: absolute;
      bottom: -20px;
      width: 100% !important;
      max-width: 100% !important;
      text-align: center;
      margin: 0px;
      @media @mobile {
        bottom: -65px;
        padding: 0px;
      }

      ul {
        background-color : @white;
        box-shadow: @box-shadow-filter-bars;
        padding: 0px;
        list-style: none;
        display: flex;
        flex-direction: row;
        justify-content: space-around;

        li {
          padding: 0px;

          a {
            text-transform: uppercase;
            color: @greyblack;
            padding: 30px 20px;
            font-family: @ProximaNova;
            font-weight: 900;
            font-size: 1em;
            line-height: 1em;
            display: inline-block;
            @media @tabletportrait {
              font-size: 0.75em;
              padding: 25px 10px;
            }

            &.active, &:hover, &:focus, &:active {
              border-bottom: 2px solid @green;
              @media @mobile {
                border: none;
                color: @yellowGold;
              }
            }
          }
        }
        span {
          height: 18px;
          padding: 18px 0px 25px 0px;
        }
        &.container-large {
          margin: 0px auto;
        }
      }
    }
  }
  .pictos-line {
    margin: 0 auto;
    box-shadow: @box-shadow-filter-bars;
    @media @mobile {
      padding: 0px 0px 0px 20px;
    }

    .container {
      margin: 0 auto;
      position: relative;
      @media @mobile {
        padding: 0px;
        overflow-x: scroll;
        width: 100%;
      }

      ul {
        padding: 0px;
        margin: 0px;
        height: 90px;
        line-height: 90px;
        list-style: none;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        color: @greytext;
        font-family: @ProximaNova;
        font-weight: bold;
        @media @mobile {
          margin-right: 0px;
          display: inline-block;
          flex-wrap: nowrap;
          width: 650px;
          padding-left: 20px;
        }

        li {
          @media @mobile {
            display: inline-block;
            padding-right: 20px;
          }

          img {
            margin-right: 10px;

            &.with-margin {
              margin-bottom: 10px;
            }
          }
        }
      }
    }
  }
  .news-list {
    .row {
      display: flex;
      flex-wrap: wrap;
      .col-news {
        padding-right: 8px;
        padding-left: 8px;
        margin-bottom: 50px;
        &:first-child {
          @media @mobile {
            margin-top: 25px;
          }
        }
        .news-item {
          position: relative;
          height: 100%;

          .thumbnail-content {
            height: 250px;
            overflow: hidden;

            img {
              height: 250px;
              width: 100%;
              transition: @transition-ease;

              &.hover {
                transform: scale(1.1);
              }
            }
          }

          .news-content {
            color: @verylightgrey;
            padding: 10px 10px 20px 10px;
            @media @mobile {
              width: 90%;
              margin: 0 auto;
              box-shadow: @box-shadow-filter-bars;
              padding: 15px;
              margin-top: -30px;
              position: relative;
              background-color: @white;
              text-align: center;
            }

            .infos {
              text-transform: uppercase;
              font-family: @ProximaNova;
              font-weight: bold;
              padding: 20px 0px;
              font-size: 0.875em;
              @media @mobile {
                padding: 2px 0px;
                font-size: 0.75em;
              }
            }

            a {
              color: @greyblack;
              font-size: 1.375em;
              font-family: @ProximaNova;
              font-weight: 900;
              @media @mobile {
                font-size: 1.125em;
                font-family: @ProximaNova;
                font-weight: bold;
              }

              &:before {
                content: " ";
                position: absolute;
                top: 0;
                left: 0;
                height: 100% !important;
                width: 100% !important;
                display: block;
                z-index: 4;
              }
            }

            .description {
              font-size: 0.875em;
              padding: 7px 0px 10px 0px;
              line-height: 1.75em;
              height: 6em;
              overflow: hidden;
            }

            .more {
              color: @greyblack;
              font-size: 0.875em;
              text-transform: uppercase;
              font-family: @ProximaNova;
              font-weight: bold;
              position: absolute;
              bottom: 10px;
              right: 10px;
            }
          }

          &.hover {
            box-shadow: @box-shadow-news;
          }
        }
      }
    }
  }
}


/*=== Page TEST PRODUIT ===*/
#testProduit {
  .header-cover {
    .mobile-score {
      width: 100%;
      margin-top: 20px;
      .total-score {
        position: relative;
        margin: 0 auto;
      }
    }
  }
  .pictos-line {
    .container {
      ul {
        margin-right: 15%;
      }
    }
  }
  .summary {
    .product {
      position: relative;
      background-color: @greyBackground;
      h3 {
        text-transform: uppercase;
        font-family: @ProximaNova;
        font-weight: bold;
        font-size: 3.25em;
        color: @greyblack;
        margin: 130px 0px 0px 40%;
        line-height: 1.625em;
        text-align: left;
        @media @mobile {
          font-size: 2.25em;
          margin: 30px 0px 0px 0px;
        }
      }
      .total-score {
        top: 0px;
        right: -67px;
        font-size: 0.75em;
        font-family: @ProximaNova;
        font-weight: 900;
        z-index: 999;
        .note {
          margin-top: 5px;
          font-size: 4.25em;
          line-height: 1em;
        }
      }
    }
    .full-score {
      padding-right: 10%;
      @media @mobile {
        padding-right: 15px;
      }
      h3 {
        margin-top: 50px;
        color: @greyblack;
        font-size: 3em;
        @media @mobile {
          font-size: 2.25em;
        }
      }
      .score-details {
        width: 90%;
        margin: 0 auto;
        @media @mobile {
          width: 100%;
        }
        .score-item {
          padding: 15px 0px;
          .title {
            text-align: right;
            font-family: @ProximaNova;
            font-weight: bold;
            font-size: 1.125em;
            @media @mobile {
              font-size: 0.875em;
            }
          }
          .progressbar {
            height: 12px;
            margin-top: 5px;
            .progress {
              border-radius: 10px;
              background-color: @progressbarGrey;
              box-shadow: @box-shadow-filter-bars;
              .progress-bar {
                background: @weTrailGradient;
                border-radius: 10px;
              }
            }
          }
          .ranking {
            font-family: @ProximaNova;
            font-weight: bold;
            font-size: 1.125em;
            @media @mobile {
              font-size: 0.875em;
            }
          }
        }
      }
    }
  }
}


/*=== Page PARCOURS ===*/
#parcours {
  .pictos-line {
    ul {
      justify-content: space-between;
      margin: 0px -15px;
    }
  }
}

/*=== Page ABOUT ===*/
#aboutUs {
  .header-cover {
    height: 100vh;
    margin-top: 0px;
    .bloc-infos {
      bottom: 45%;
      h1 {
        margin-bottom: 0px;
      }
      p {
        font-size: 1.5em;
      }
    }
  }
  .introduction {
    font-size: 1.125em;
    p {
      color: @greyblack;
    }
  }
  .author {
    margin-top: 80px;
    @media @mobile {
      .item-1 {
        order: 2;
      }

      .item-2 {
        order: 1;
      }

      .item-3 {
        order: 3;
      }

      .item-4 {
        order: 4;
      }
    }
    .bloc-left {
      padding-right: 10%;
      @media @mobile {
        padding: 0px;
        &.author-item {
          padding: 0px 20px;
        }
      }
    }
    .bloc-right {
      padding-left: 10%;
      @media @mobile {
        padding: 0px;
        &.author-item {
          padding: 0px 20px;
        }
      }
      text-align: right;
      h2, h3, .buttons  {
        text-align: right !important;
      }
    }
    .author-item {
      margin: 60px 0px;
      @media @mobile {
        margin: 20px 0px 100px 0px;
        &:last-child {
          margin-bottom: 20px;
        }
      }
      h2 {
        color: @greyblack;
        text-align: left;
      }
      p {
        color: @lightgrey;
        font-size: 1em;
        line-height: 2em;
      }
      .author-stats {
        h3 {
          color: @lightgrey;
          text-transform: uppercase;
          font-size: 1.125em;
          font-family: @ProximaNova;
          font-weight: bold;
          text-align: left;
          margin: 60px auto 5px auto;
        }
        .chronos-list {
          .row {
            margin: 0px;
            .race {
              text-transform: uppercase;
              font-size: 0.875em;
              border-bottom: 1px solid @verylightgrey;
              padding: 10px 0px;
              max-width: 100px;
              @media @mobile {
                max-width: none;
              }
            }

            .chrono {
              border-bottom: 1px solid @verylightgrey;
              color: @lightgrey;
              padding: 10px 0px;
            }
            &:last-child {
              .race, .chrono {
                border-bottom: none;
              }
            }
          }
        }
        .buttons {
          margin-top: 30px;
        }
      }
    }
    .author-image {
      margin: 60px 0px;
      @media @mobile {
        margin: 0px;
      }
    }
  }
  .quote-bloc {
    position: relative;
    img {
      height: 620px;
      @media @mobile {
        height: 320px;
      }
    }
    .quote {
      position: absolute;
      color: @white;
      bottom: 35%;
      @media @mobile {
        bottom: 15%;
      }
      width: 100%;
      text-align: center;
      .text {
        text-align: center;
        font-size: 3.5em;
        padding: 15px;
        @media @tablet {
          font-size: 3em;
        }
        @media @tabletportrait {
          font-size: 2.5em;
        }
        @media @mobile {
          font-size: 1.75em;
        }
        font-family: @QuestaGrande;
        display: inline-block;
        position: relative;
        line-height: 1em;
        .quote-author {
          text-align: right;
          font-size: 0.625em;
          padding-right: 20px;
          margin-top: 20px;
          font-family: @ProximaNova;
        }
      }
    }
  }
}

/*=== Page RECETTE ===*/
#recipe {
  p {
    font-size: 1em;
    line-height: 2em;
  }
  .container-large {
    .recipe-header {
      margin-top: 250px;
      @media @mobile {
        margin-top: 100px;
      }
      .recipe-image {
        padding-right: 3%;
        @media @mobile {
          padding: 10px 15px;
        }
        img {
          width: 100%;
        }
      }
      .recipe-details {
        padding-left: 3%;
        @media @mobile {
          padding: 15px;
        }
        .category {
          text-transform: uppercase;
          font-size: 1.125em;
          color: @greyDark;
        }

        h1 {
          text-transform: none;
          font-size: 3.5em;
          font-family: @ProximaNova;
          font-weight: bold;
          text-align: left;
          color: @greyblack;
          margin-top: 20px;
          @media @mobile {
            font-size: 2.25em;
          }
        }

        .introduction {
          font-size: 1.625em;
          color: @greyDark;
          @media @mobile {
            font-size: 1.25em;
            line-height: 1.75em;
          }
        }

        .recipe-infos {
          text-transform: uppercase;
          margin-top: 100px;
          @media @mobile {
            margin-top: 0px;
          }
          div {
            padding-right: 60px;
            font-size: 0.75em;
            @media @mobile {
              padding: 20px 0px;
              img {
                padding-right: 15px;
              }
            }
          }
        }
      }
    }
    .recipe-content {
      .recipe-title {
        color: @greyblack;
        text-transform: uppercase;
        font-size: 0.875em;
        border: 1px solid @greyblack;
        padding: 10px;
        width: auto;
        display: inline-block;
        letter-spacing: 0.25em;
        margin-bottom: 40px;
        @media @mobile {
          margin-bottom: 30px;
        }
      }
      .recipe-ingredients {
        padding-left: 70px;
        @media @mobile {
          padding-left: 15px;
        }
        .ingredients-section {
          color: @lightgrey;
          .section-title {
            text-transform: uppercase;
            font-size: 0.875em;
            font-family: @ProximaNova;
            font-weight: 900;
          }
          ul {
            font-size: 1em;
            li {
              line-height: 2.25em;
            }
          }
        }
      }
      .recipe-steps {
        @media @mobile {
          margin-top: 40px;
        }
        h3 {
          text-align: left;
          color: @greyblack;
          font-size: 1.5em;
          font-family: @ProximaNova;
          font-weight: bold;
          margin-top: 30px;
          margin-bottom: 3px;
          @media @mobile {
            font-size: 1.25em;
          }
          &:first-child {
            margin-top: 0px;
          }
        }
      }

      .recipe-final-image {
        margin: 90px 0px;
        width: 100%;
        @media @mobile {
          margin-bottom: 20px;
        }
      }

      .recipe-conclusion {
        h2 {
          text-align: left;
          color: @greyblack;
          font-size: 3em;
          @media @mobile {
            font-size: 2.25em;
          }
        }
        .buttons {
          margin: 90px auto;
        }
      }
    }
  }
}

/* Bloc auteur */
.article-author {
  .author-image {
    text-align: center;
    img {
      height: 180px;
      width: 180px;
      border-radius: 100%;
      margin-bottom: 40px;
    }
  }
  .author-details {
    .author-title {
      color: @lightgrey;
      font-weight: bold;
      font-size: 1.25em;
    }
    .author-name {
      font-size: 2em;
      font-weight: 900;
      line-height: 1.125em;
    }
    .author-description {
      color: @lightgrey;
      line-height: 2em;
      margin: 10px 0px;
    }
  }
}

/* Bloc instagram */
.instagram-container {
  position: relative;
  .instagram-text {
    @media @mobile {
      text-align: right;
    }
    h2 {
      color: @greyblack;
      font-size: 3em;
      text-align: left;
      font-family: @ProximaNova;
      font-weight: bold;
      @media @mobile {
        font-size: 1.75em;
        margin-bottom: 0px;
      }
    }
    span {
      color: @greyDark;
      font-size: 1.25em;
      font-family: @ProximaNova;
      font-weight: bold;
      @media @mobile {
        display: inline-block;
        margin: 10px 60px 20px 0px;
      }
    }
    a {
      position: absolute;
      right: 15px;
      height: 100%;
      width: 100%;
      .instagram {
      width: 50px;
      height: 50px;
      }
    }
  }
  .instagram-images {
    height: 580px;
    max-width: 720px;
    margin: 0 auto;
    @media @mobile {
      height: auto;
      max-width: none;
      width: 100%;
    }
    img {
      @media @mobile {
        max-height: 220px;
        top: 0px !important;
        left: 0px !important;
        width: 100% !important;
        position: relative !important;
      }
      &.top {
        @media @mobile {
          height: auto;
        }
        width: 480px;
        height: 360px;
        position: absolute;
        top: 0px;
        right: 0px;

      }

      &.left {
        width: 240px;
        height: 360px;
        position: absolute;
        left: 0px;
        top: 100px;
        @media @mobile {
          height: auto;
        }
      }

      &.bottom {
        width: 230px;
        height: 220px;
        position: absolute;
        bottom: 0px;
        left: 240px;
        @media @mobile {
          height: auto;
        }
      }
    }
    a {
      position: absolute;
      width: 100%;
      height: 100%;
      .instagram {
        width: 100px;
        height: 100px;
        position: absolute;
        bottom: 60px;
        right: 75px;
      }
    }
  }

}

/* Bloc "more or related content" */
.more-content {
  margin: 80px auto 120px auto;
  h2 {
    color: @greyblack;
    font-size: 3em;
    margin-bottom: 30px;
    @media @mobile {
      font-size: 2.25em;
    }
  }
  .more-content-item {
    margin-bottom: 50px;
    .thumbnail-content {
      img {
        width: 100%;
      }
      &:hover {
        cursor: pointer;
      }
    }
    .content {
      @media @mobile {
        width: 90%;
        margin: 0 auto;
        box-shadow: @box-shadow-filter-bars;
        padding: 15px;
        margin-top: -30px;
        position: relative;
        background-color: @white;
        text-align: center;
      }
      a {
        color: @greyblack;
        font-size: 1.5em;
        font-family: @ProximaNova;
        font-weight: 900;
        padding: 10px 0px 5px 0px;
        @media @mobile {
          padding: 0px;
          font-size: 1.25em;
        }
        display: block;
        &:before {
          content: " ";
          position: absolute;
          top: 0;
          left: 0;
          height: 100% !important;
          width: 100% !important;
          display: block;
          z-index: 4;
        }
      }

      p {
        font-size: 0.875em;
        line-height: 1.75em;
      }
    }
  }
}


/* Bloc "Score" */
.total-score {
  background: @weTrailGradient;
  border-radius: 100%;
  padding: 20px;
  color: @white;
  position: absolute;
  top: 0px;
  right: 0px;
  width: 135px;
  height: 135px;
  text-transform: uppercase;
  font-size: 0.75em;
  font-family: @ProximaNova;
  font-weight: 900;
  text-align: center;
  @media @mobile {
    padding: 10px;
    width: 95px;
    height: 95px;
    font-size: 0.625em;
  }

  .text {
    margin-top: 10px;
    @media @mobile {
      margin-top: 15px;
    }
  }

  .note {
    font-size: 4.25em;
    line-height: 1em;
    @media @mobile {
      font-size: 3.25em;
    }
  }
  &.black {
    background: @greyblack;
  }
}

/* Bloc "Texte riche" */
.container-rich-text {
  .introduction {
    font-size: 1.125em;
    color: @greyblack;
    margin-bottom: 50px;
    @media @mobile {
      font-size: 0.875em;
    }
    p {
      color: @greyblack;
      font-size: 1.375em;
    }
  }
  .content {
    font-size: 0.875em;
    @media @mobile {
      font-size: 0.75em;
    }
    color: @greyblack;
    p {
      margin: 0px 0px 30px 0px;
      line-height: 1.875em;
    }
    h2 {
      font-size: 3.5em;
      text-align: left;
      color: @greyblack;
      margin: 40px auto 15px auto;
      @media @mobile {
        font-size: 2.25em;
      }
    }
    h3 {
      font-size: 2.75em;
      text-align: left;
      color: @greyblack;
      margin: 30px auto 10px auto;
      @media @mobile {
        font-size: 1.875em;
      }
    }
    .object-img {
      margin: auto -25%;
      @media @mobile {
        margin: auto 0px;
      }
    }

    .carousel {
      margin: 20px -25%;
      @media @mobile {
        margin: 40px 0px;
      }
      .image {
        padding: 20px 10px 0px 10px;
        @media @mobile {
          padding: 10px 0px;
        }
        img {
          height: 300px;
          @media @mobile {
            height: auto;
          }
        }
        &:first-child {
          padding-right: 10px;
          padding-left: 10px;
          @media @mobile {
            padding: 10px 0px;
          }
          img {
              height: 600px;
            @media @mobile {
              height: auto;
            }
          }
        }
      }
      &.large-height {
        .image {
          img {
            height: 500px;
            @media @mobile {
              height: 250px;
            }
          }
          &:nth-child(2n) {
            @media @mobile {
              padding-right: 5px;
            }
          }
          &:nth-child(2n +1) {
            @media @mobile {
              padding-left: 5px;

            }
          }
          &:first-child {
            padding: 10px auto;
            @media @mobile {
              padding: 0px;
            }

            img {
              height: 700px;
              @media @mobile {
                height: 300px;
              }
            }
          }
        }
      }
    }
    .image-embed {
      margin: 40px -25%;
      @media @mobile {
        margin: 20px -15px;
      }
    }
    .embed-button {
      margin: 40px 0px;
    }
    .simple-quote {
      font-size: 2em;
      font-family: @QuestaGrande;
      background: url("../images/picto-quote.png") top left no-repeat no-repeat;
      padding-left: 80px;
      margin: 70px 0px;
      line-height: 1.875em;
      @media @mobile {
        margin: 20px 0px;
        line-height: 1.125em;
      }
    }
    .multiple-quote {
      font-weight: bold;
      font-size: 1.75em;
      margin: 60px 0px;
      @media @mobile {
        margin: 40px 0px;
      }
      .border-top-quote {
        width: 60px;
        border-top: 3px solid @greyblack;
        padding-top: 10px;
      }
    }
  }
}



/*===================*/
/*=== UTILITAIRES ===*/
/*===================*/
h1, h2, h3, h4, h5 {
  text-align: center;
  margin-bottom: 20px;
  font-family: @ProximaNova;
  font-weight: 900;
}

h1 {
  text-transform: uppercase;
  font-size: 4.5em;
  @media @tablet {
    font-size: 3em;
  }
  @media @mobile {
    font-size: 2em;
  }
}

h2 {
  font-size: 4.25em;
  color: @black;
  @media @tablet {
    font-size: 3.5em;
  }
  @media @tabletportrait {
    font-size: 3em;
  }
  @media @mobile {
    font-size: 2.125em;
  }
}

h3 {
  font-size: 3.5em;
  color: @white;
  @media @tablet {
    font-size: 3em;
  }
  @media @tabletportrait {
    font-size: 2.5em;
  }
  @media @mobile {
    font-size: 1.75em;
  }
}

h5 {
  font-family: @ProximaNova;
  font-weight: bold;
}

a {
  color: @white;
  text-decoration: none;
  &:active, &:hover, &:focus {
    text-decoration: none;
    color: @white;
  }
}
p {
  color: @lightgrey;
  font-size: 1.25em;
}

.white {
  color: @white;
}

.hide{
  display:none;
}
.show{
  display: block;
}

.container {
  margin: 70px auto;
}

.container.no-margin {
  margin: 0px auto;
}

.container-menu {
  margin: 0px;
  height: 80px;
}

.container-medium {
  width: 60%;
  max-width: 60%;
  @media @mobile {
    width: 100%;
    max-width: 100%;
  }
}

.container-rich-text {
  width: 50%;
  max-width: 50%;
  @media @mobile {
    width: 100%;
    max-width: 100%;
    margin-top: 50px;
  }
}

.container-large {
  width: 75%;
  max-width: 75%;
  @media @tablet {
    width: 90%;
    max-width: 90%;
  }
  @media @mobile {
    width: 100%;
    max-width: 100%;
  }
}

.container-full-width-laptop {
  @media @laptop {
    width: 100%;
    max-width: 100%;
  }
}

.container-full-width {
  width: 100%;
  max-width: 100%;
}

.image-full-width {
  padding: 0px;
  margin: 0px -1px;
}

.margin-top-added {
  margin-top: 140px;
  @media @laptop {
    margin-top: 120px;
  }
  @media @tablet {
    margin-top: 100px;
  }
}

.btn-rond {
  color: @white;
  border: 1px solid @white;
  font-size: .875em;
  border-radius: 30px;
  padding: 10px 25px;
  white-space: normal;
  line-height: 1.25em;
  font-weight: bold;
  width: auto;
  display: inline-block;
  &.padding-large {
    padding: 10px 40px;
  }
  &.black {
    background-color: @greyblack;
    border: 1px solid @greyblack;
  }
  &.strava {
    padding-left: 50px;
    background: url("../images/picto-strava-blanc.png") no-repeat no-repeat 30px 10px @greyblack;
  }
}

.btn:hover {
  color: @white;
}

.overlay{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  background-color: @greyOverlayOpacity;
  visibility: hidden;
  opacity: 0;
  transition: @transition-visibility-linear;
  &.visible {
    visibility: visible;
    opacity: 1;
  }
}

.img-cover {
  object-fit: cover;
  width: 100%;
}

.opacity-filter {
  width: 100%;
  height: 100%;
  background-color: @black;
  filter: opacity(40%);
  position: absolute;
  top: 0;
  left: 0;
  &.light {
    background: @CoverLightGradient;
    filter: opacity(50%);
  }
}

.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.clearfix {
  display: inline-block;
}

html[xmlns] .clearfix {
  display: block;
}

* html .clearfix {
  height: 1%;
}