@white: #ffffff;
@black: #000000;
@greyblack : #383838;
@lightgrey: grey;
@verylightgrey : lightgrey;
@green : #9FD659;
@weTrailColor : #FF1500;
@weTrailGradient : linear-gradient(#FFAE46, #FF428D);
@yellowGold : #ffae46;
@greyopacity: rgba(0,0,0,0.4);
@greyOverlayOpacity: rgba(100, 100, 100, 0.5);
@ProximaNova: 'ProximaNova-Regular', sans-serif;
@ProximaNovaBold: 'ProximaNova-Bold', sans-serif;
@blackLightGradient : linear-gradient(180deg,transparent,transparent 0%,rgba(0,0,0,0.5) 96%,rgba(0,0,0,0));
@veryLightGradient :linear-gradient(180deg,transparent 10%,rgba(0,0,0,0.1) 50%, transparent 90%);
@blackGradient : linear-gradient(180deg, transparent, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.6) 10%, rgba(0, 0, 0, 0.9) 30%, rgba(0, 0, 0, .6) 100%);
@ProximaNovaBolder: 'ProximaNova-Extrabld', sans-serif;
@laptop:             ~"only screen and (max-width: 1365.98px)";
@tablet:             ~"only screen and (max-width: 1199.98px)";
@tabletportrait:     ~"only screen and (max-width: 991.98px)";
@mobile:             ~"only screen and (max-width: 767.98px)";
@mobileportrait:     ~"only screen and (max-width: 575.98px)";
@tablet-and-desktop: ~"only screen and (min-width: 1024px)";
@transition-ease: all 0.5s ease;
@transition-visibility-linear : visibility 0s, opacity 0.3s linear;
@box-shadow-light : 0 10px 10px -10px rgba(0,0,0,0.4);
@box-shadow-filter-bars : 0 5px 5px rgba(0, 0, 0, 0.1), -5px 0px 5px rgba(0, 0, 0, 0.1), 5px 0px 5px rgba(0, 0, 0, 0.1);
@box-shadow-news : 0 4px 19px 0 rgba(58,58,60,0.25);
@color1: #dddddd; // Appears 2 times
@color2: #333333; // Appears 2 times


/*=== FONTS ===*/
/* ProximaNova */
@font-face {
  font-family: 'ProximaNova-Regular';
  src: url('../fonts/ProximaNova-Regular.eot');
  src: url('../fonts/ProximaNova-Regular.eot?#iefix') format('embedded-opentype'), url('../fonts/ProximaNova-Regular.ttf') format('truetype'), url('../fonts/ProximaNova-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'ProximaNova-Extrabld';
  src: url('../fonts/ProximaNova-Extrabld.eot');
  src: url('../fonts/ProximaNova-Extrabld.eot?#iefix') format('embedded-opentype'), url('../fonts/ProximaNova-Extrabld.ttf') format('truetype'), url('../fonts/ProximaNova-Extrabld.woff') format('woff');
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: 'ProximaNova-Bold';
  src: url('../fonts/ProximaNova-Bold.eot');
  src: url('../fonts/ProximaNova-Bold.eot?#iefix') format('embedded-opentype'), url('../fonts/ProximaNova-Bold.ttf') format('truetype'), url('../fonts/ProximaNova-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}


body {
  font-size: 16px;
  font-family: @ProximaNova;
  position: relative;
  min-height: 100%;
}

/* Menu */
.fixed-top.navbar {
  padding: 0px;
  box-shadow: @box-shadow-light;
  >.container {
    @media @tabletportrait {
      display: block;
    }
    .navbar-toggler {
      border: none;
      padding: 25px;
      color: @weTrailColor;
      @media @tabletportrait {
        float: right;
      }
    }
    .navbar-brand {
      @media @tabletportrait {
        float: left;
        padding: 13px 13px 13px 10%;
      }
    }
  }
  .container.menu {
    height: 80px;
    @media @tabletportrait {
      height: 70px;
    }
    margin: 0px auto;
    .navbar-right {
      background-color: @white;
      justify-content: flex-end;
      .navbar-nav {
        @media @tabletportrait {
          height: 100vh;
        }
        .nav-item {
          position: static !important;
          line-height: 80px;
          @media @tabletportrait {
            line-height: 60px;
            border-bottom: 1px solid lightgrey;
          }

          .nav-link {
            color: @greyblack;
            font-family: @ProximaNovaBold;
            padding: 0px 30px;
            font-size: 1.125em;

            &:hover {
              color: @lightgrey;
            }
          }

          &:last-child a {
            padding-right: 0px;
          }

          &.show .nav-link {
            color: @lightgrey;
          }
        }

        .megamenu {
          padding: 20px 20px;
          width: 100%;
          margin: -1px 0px 0px 0px;
          border: none;
          box-shadow: @box-shadow-light;
          @media @tabletportrait {
            padding: 0px 0px 20px 60px;
            box-shadow: none;
          }

          .dropdown-item {
            margin: 0px auto;
            padding: 4px 0px;

            .row {
              .card {
                outline: none;
                border: none;
                max-height: 400px;
                overflow: hidden;
                @media @tabletportrait {
                  padding: 12px 0px;
                }

                .thumbnail {
                  img {
                    height: 400px;
                    width: 100%;
                    transition: @transition-ease;
                    @media @tabletportrait {
                      display: none;
                    }

                    &:hover {
                      transform: scale(1.1);
                    }
                  }

                  span {
                    font-size: 2em;
                    font-family: @ProximaNovaBolder;
                    position: absolute;
                    bottom: 60%;
                    text-align: center;
                    color: @white;
                    @media @tabletportrait {
                      color: @lightgrey;
                      position: relative;
                      font-size: 1em;
                      height: 1em;
                      background: none;
                      text-align: left;
                    }
                    display: block;
                    width: 100%;
                    background: @veryLightGradient;
                    white-space: pre-wrap;
                    line-height: 1em;
                    height: 2em;
                  }

                  .button {
                    visibility: hidden;
                    opacity: 0;
                    font-size: 1em;
                    font-family: @ProximaNovaBolder;
                    position: absolute;
                    bottom: 20%;
                    text-align: center;
                    color: white;
                    width: 100%;
                    transition: @transition-visibility-linear;
                    @media @tabletportrait {
                      display: none;
                    }
                  }

                  &:hover .button {
                    visibility: visible;
                    opacity: 1;
                  }
                }
              }

              &:hover, &:active {
                background-color: @white;
                outline: none;
                border: none;
              }
            }

            &:hover, &:active {
              background-color: @white;
              outline: none;
              border: none;
            }
          }
        }

        @media @tabletportrait {
          .megamenu {
            margin-left: 0;
            margin-right: 0;
          }

          .megamenu.dropdown-header {
            padding: 3px 15px !important;
          }
        }
      }
    }
    &.menu-deployed .navbar-brand, &.menu-deployed .navbar-nav .nav-item {
      opacity: 0.15;
    }
    &.menu-deployed .navbar-nav .nav-item.show {
      opacity: 1;
    }
  }
}

/* Footer */
.page-footer {
  color: @lightgrey;
  font-size: 0.875em;
  @media @mobile {
    width: 70%;
    margin: 0px auto;
  }
  a {
    color: @lightgrey;
  }
  .col-item {
    h5 {
      text-align: left;
      margin-top: 10px;
      margin-bottom: 5px;
      color: @greyblack;
    }
  }
  .footer-copyright {
    @media @mobile {
      margin: 0px;
      padding: 0px;
    }
  }
}


/*=== HOMEPAGE ===*/
/* Carousel*/
#carouselHome {
  .carousel-item {
    background-size: cover;
    background-position: center;
    height: 100vh;
    transition: all 1s ease-out;
    .carousel-caption {
      width: 100%;
      right: 0%;
      left: 0%;
      bottom: 35%;
      @media @tablet {
        bottom: 30%;
      }
      @media @mobile {
        bottom: 15%;
      }
      padding: 30px 0px;
      @media @mobile {
        padding: 30px;
      }
      background: @greyopacity;
      color: @white;
      .infos {
        font-size: 1em;
      }
      h2 {
        text-transform: uppercase;
        font-size: 3.5em;
        @media @mobile {
          font-size: 2.5em;
        }
        font-family: @ProximaNovaBolder;
        color: @white;
        padding: 10px 0px;
        margin: 0px;
      }
      p {
        font-size: 1.25em;
        @media @mobile {
          font-size: 1.125em;
        }
      }
      .buttons {
        margin-top: 35px;
      }
    }
  }
  .carousel-control-next, .carousel-control-prev {
    width: 5%;
    z-index: 10;
    @media @mobile {
      display: none;
    }
  }
}

/* Presentation */
.container.presentation {
  margin: 80px auto 120px auto;
  text-align: center;
  .presentation-image {
    height: 150px;
    width: 150px;
    border-radius: 100%;
    margin-bottom: 40px;
  }
  p {
    margin-bottom: 30px;
    line-height: 1.75em;
    font-size: 1.25em;
  }
}

/* Topics bloc */
#topics {
 .topic-item {
   max-height: 600px;
   overflow: hidden;
   padding: 0px;
   margin: 0px -1px;
   .thumbnail {
     img {
       height: 600px;
       @media @tablet {
         height: 300px;
       }
       width: 100%;
       transition: @transition-ease;

       &:hover {
         transform: scale(1.1);
       }
     }

     span {
       font-size: 2em;
       font-family: @ProximaNovaBolder;
       position: absolute;
       bottom: 10%;
       @media @mobile {
         bottom: 40%;
       }
       text-align: center;
       color: white;
       display: block;
       width: 100%;
       background: @veryLightGradient;
       @media @mobile {
         font-size: 1.5em;
       }
     }
   }
 }
}

/* Latests posts bloc */
#latestsPosts {
  .row {
    height: 500px;
    overflow: hidden;
    @media @mobile {
     height: auto;
    }
    .post-item {
      &:hover, &:focus {
        transform: scale(1.02);
      }
      background-size: cover;
      background-position: center;
      min-height: 500px;
      @media @mobile {
        min-height: 400px;
      }
      color: @white;
      display: flex;
      flex-direction: column;
      height: 100%;
      padding: 0px;
      transition: @transition-ease;
      .content {
        flex-grow: 1;
        text-align: center;
      }
      .details {
        background: @blackLightGradient;
        @media @mobile {
         background: @blackGradient;
        }
        padding: 5px 5px 20px 25px;
        display: none;
        @media @tablet {
          display: block;
        }
        color: @white;
        h3{
          margin-bottom: 0px;
          text-align: left;
          line-height: 1em;
          font-size: 3em;
          a {
            &:before {
              content: " ";
              position: absolute;
              top: 0;
              left: 0;
              height: 100%!important;
              width: 100%!important;
              display: block;
              z-index: 4;
            }
          }
        }
        p {
          font-size: 1.5em;
          line-height: 1.125em;
          @media @mobile {
            font-size: 1.125em;
          }
        }
      }
    }
  }
}


/*=== Page LISTE ARTICLES ===*/
#articlesList {
  .header-cover {
    height: 75vh;
    padding: 0px;
    position: relative;

    img {
      height: 100%;
      width: 100%;
    }

    h1 {
      position: absolute;
      bottom: 25%;
      width: 100%;
      color: @white;
    }

    .articles-filters {
      position: absolute;
      bottom: -20px;
      width: 100% !important;
      max-width: 100% !important;
      text-align: center;
      margin: 0px;
      @media @mobile {
        bottom: -65px;
        padding: 0px;
      }

      ul {
        background-color : @white;
        box-shadow: @box-shadow-filter-bars;
        padding: 0px;
        list-style: none;
        display: flex;
        flex-direction: row;
        justify-content: space-around;

        li {
          padding: 0px;

          a {
            text-transform: uppercase;
            color: @greyblack;
            padding: 30px 20px;
            font-family: @ProximaNovaBold;
            font-size: 1em;
            line-height: 1em;
            display: inline-block;
            @media @tabletportrait {
              font-size: 0.75em;
              padding: 25px 10px;
            }

            &.active, &:hover, &:focus, &:active {
              border-bottom: 2px solid @green;
              @media @mobile {
                border: none;
                color: @yellowGold;
              }
            }
          }
        }
        span {
          height: 18px;
          padding: 18px 0px 25px 0px;
        }
        &.container-large {
          margin: 0px auto;
        }
      }
    }
  }
  .news-list {
    .row {
      display: flex;
      flex-wrap: wrap;
      .col-news {
        padding-right: 8px;
        padding-left: 8px;
        margin-bottom: 50px;
        &:first-child {
          @media @mobile {
            margin-top: 25px;
          }
        }
        .news-item {
          position: relative;
          height: 100%;

          .thumbnail-content {
            height: 250px;
            overflow: hidden;

            img {
              height: 250px;
              width: 100%;
              transition: @transition-ease;

              &.hover {
                transform: scale(1.1);
              }
            }
          }

          .news-content {
            color: @verylightgrey;
            padding: 10px 10px 20px 10px;
            @media @mobile {
              width: 90%;
              margin: 0 auto;
              box-shadow: @box-shadow-filter-bars;
              padding: 15px;
              margin-top: -30px;
              position: relative;
              background-color: @white;
              text-align: center;
            }

            .infos {
              text-transform: uppercase;
              font-family: @ProximaNovaBold;
              padding: 20px 0px;
              font-size: 0.875em;
              @media @mobile {
                padding: 2px 0px;
                font-size: 0.75em;
              }
            }

            a {
              color: @greyblack;
              font-size: 1.375em;
              font-family: @ProximaNovaBolder;
              @media @mobile {
                font-size: 1.125em;
                font-family: @ProximaNovaBold;
              }

              &:before {
                content: " ";
                position: absolute;
                top: 0;
                left: 0;
                height: 100% !important;
                width: 100% !important;
                display: block;
                z-index: 4;
              }
            }

            .description {
              font-size: 0.875em;
              padding: 7px 0px 10px 0px;
              line-height: 1.75em;
              height: 6em;
              overflow: hidden;
              @media @mobile {
                display: none;
              }
            }

            .more {
              color: @greyblack;
              font-size: 0.875em;
              text-transform: uppercase;
              font-family: @ProximaNovaBold;
              position: absolute;
              bottom: 10px;
              right: 10px;
              @media @mobile {
                display: none;
              }
            }
          }

          &.hover {
            box-shadow: @box-shadow-news;
          }
        }
      }
    }
  }
}

/*===================*/
/*=== UTILITAIRES ===*/
/*===================*/
h1, h2, h3, h4, h5 {
  text-align: center;
  margin-bottom: 20px;
  font-family: @ProximaNovaBolder;
}

h1 {
  text-transform: uppercase;
  font-size: 4.5em;
  @media @tablet {
    font-size: 3em;
  }
  @media @mobile {
    font-size: 2em;
  }
}

h2 {
  font-size: 4.25em;
  color: @black;
  @media @tablet {
    font-size: 3.5em;
  }
  @media @tabletportrait {
    font-size: 3em;
  }
  @media @mobile {
    font-size: 2.125em;
  }
}

h3 {
  font-size: 3.5em;
  color: @white;
  @media @tablet {
    font-size: 3em;
  }
  @media @tabletportrait {
    font-size: 2.5em;
  }
  @media @mobile {
    font-size: 1.75em;
  }
}

h5 {
  font-family: @ProximaNovaBold;
}

a {
  color: @white;
  text-decoration: none;
  &:active, &:hover, &:focus {
    text-decoration: none;
    color: @white;
  }
}
p {
  color: @lightgrey;
  font-size: 1.25em;
}

.white {
  color: @white;
}

.hide{
  display:none;
}
.show{
  display: block;
}

.container {
  margin: 70px auto;
}

.container.no-margin {
  margin: 0px auto;
}

.container-menu {
  margin: 0px;
  height: 80px;
}

.container-medium {
  width: 60%;
  max-width: 60%;
  @media @mobile {
    width: 100%;
    max-width: 100%;
  }
}
.container-large {
  width: 75%;
  max-width: 75%;
  @media @tablet {
    width: 90%;
    max-width: 90%;
  }
  @media @mobile {
    width: 100%;
    max-width: 100%;
  }
}

.container-full-width-laptop {
  @media @laptop {
    width: 100%;
    max-width: 100%;
  }
}

.container-full-width {
  width: 100%;
  max-width: 100%;
}

.margin-top-added {
  margin-top: 140px;
  @media @laptop {
    margin-top: 120px;
  }
  @media @tablet {
    margin-top: 100px;
  }
}

.btn-rond {
  color: @white;
  border: 1px solid @white;
  font-size: .875em;
  border-radius: 30px;
  padding: 0 25px;
  white-space: normal;
  line-height: 30px;
  font-family: @ProximaNovaBold;
  width: auto;
  display: inline-block;
  &.padding-large {
    padding: 5px 40px;
  }
  &.black {
    background-color: @greyblack;
    border: 1px solid @greyblack;
  }
}

.btn:hover {
  color: @white;
}

.overlay{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  background-color: @greyOverlayOpacity;
  visibility: hidden;
  opacity: 0;
  transition: @transition-visibility-linear;
  &.visible {
    visibility: visible;
    opacity: 1;
  }
}

.img-cover {
  object-fit: cover;
}

.opacity-filter {
  width: 100%;
  height: 100%;
  background-color: @black;
  filter: opacity(40%);
  position: absolute;
  top: 0;
  left: 0;
}