{% if location is defined %}
{% set currentLocation = location %}
{% else %}
{% set currentLocation = null %}
{% endif %}

<!DOCTYPE html>
<!--[if lt IE 9 ]>
<html class="unsupported-ie ie" lang=""><![endif]-->
<!--[if IE 9 ]>
<html class="ie ie9" lang=""><![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<html lang="" prefix="og: http://ogp.me/ns#" xmlns:hx="http://purl.org/NET/hinclude">
<!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    {% include '@ezdesign/seo/head_seo.html.twig' with seo|default([]) %}
    {% include '@ezdesign/pagelayout/head_styles.html.twig' %}
    {% block microdata %}
    {% endblock %}
</head>
<body {% block body_tag_attributes %}{% endblock %}>
{% block body %}
    {% block menu %}
    {% endblock %}

    {% block header %}
    {% endblock %}
    <div id="{% block appName %}app{% endblock %}">
        {% block banner %}{% endblock %}
        <main>
        {% block content %}{% endblock %}
        {% block cfoot %}{% endblock %}
        </main>
    </div>

    {% block footer %}
    {% endblock %}
{% endblock %}

{% include '@ezdesign/pagelayout/footer_scripts.html.twig' %}
</body>
</html>