/*=== FONTS ===*/
/* ProximaNova */
@font-face {
  font-family: 'ProximaNova-Regular';
  src: url('../fonts/ProximaNova-Regular.eot');
  src: url('../fonts/ProximaNova-Regular.eot?#iefix') format('embedded-opentype'), url('../fonts/ProximaNova-Regular.ttf') format('truetype'), url('../fonts/ProximaNova-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'ProximaNova-Extrabld';
  src: url('../fonts/ProximaNova-Extrabld.eot');
  src: url('../fonts/ProximaNova-Extrabld.eot?#iefix') format('embedded-opentype'), url('../fonts/ProximaNova-Extrabld.ttf') format('truetype'), url('../fonts/ProximaNova-Extrabld.woff') format('woff');
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: 'ProximaNova-Bold';
  src: url('../fonts/ProximaNova-Bold.eot');
  src: url('../fonts/ProximaNova-Bold.eot?#iefix') format('embedded-opentype'), url('../fonts/ProximaNova-Bold.ttf') format('truetype'), url('../fonts/ProximaNova-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}
body {
  font-size: 16px;
  font-family: 'ProximaNova-Regular', sans-serif;
  position: relative;
  min-height: 100%;
}
/* Menu */
.fixed-top.navbar {
  padding: 0px;
  box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.4);
}
@media only screen and (max-width: 991.98px) {
  .fixed-top.navbar > .container {
    display: block;
  }
}
.fixed-top.navbar > .container .navbar-toggler {
  border: none;
  padding: 25px;
  color: #FF1500;
}
@media only screen and (max-width: 991.98px) {
  .fixed-top.navbar > .container .navbar-toggler {
    float: right;
  }
}
@media only screen and (max-width: 991.98px) {
  .fixed-top.navbar > .container .navbar-brand {
    float: left;
    padding: 13px 13px 13px 10%;
  }
}
.fixed-top.navbar .container.menu {
  height: 100px;
  margin: 0px auto;
}
@media only screen and (max-width: 991.98px) {
  .fixed-top.navbar .container.menu {
    height: 70px;
  }
}
.fixed-top.navbar .container.menu .navbar-right {
  background-color: #ffffff;
  justify-content: flex-end;
}
@media only screen and (max-width: 991.98px) {
  .fixed-top.navbar .container.menu .navbar-right .navbar-nav {
    height: 100vh;
  }
}
.fixed-top.navbar .container.menu .navbar-right .navbar-nav .nav-item {
  position: static !important;
  line-height: 80px;
}
@media only screen and (max-width: 991.98px) {
  .fixed-top.navbar .container.menu .navbar-right .navbar-nav .nav-item {
    line-height: 60px;
    border-bottom: 1px solid lightgrey;
  }
}
.fixed-top.navbar .container.menu .navbar-right .navbar-nav .nav-item .nav-link {
  color: #383838;
  font-family: 'ProximaNova-Bold', sans-serif;
  padding: 0px 30px;
  font-size: 1em;
}
.fixed-top.navbar .container.menu .navbar-right .navbar-nav .nav-item .nav-link:hover {
  color: grey;
}
.fixed-top.navbar .container.menu .navbar-right .navbar-nav .nav-item:last-child a {
  padding-right: 0px;
}
.fixed-top.navbar .container.menu .navbar-right .navbar-nav .nav-item.show .nav-link {
  color: grey;
}
.fixed-top.navbar .container.menu .navbar-right .navbar-nav .megamenu {
  padding: 20px 20px;
  width: 100%;
  margin: -1px 0px 0px 0px;
  border: none;
  box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.4);
}
@media only screen and (max-width: 991.98px) {
  .fixed-top.navbar .container.menu .navbar-right .navbar-nav .megamenu {
    padding: 0px 0px 20px 60px;
    box-shadow: none;
  }
}
.fixed-top.navbar .container.menu .navbar-right .navbar-nav .megamenu .dropdown-item {
  margin: 0px auto;
  padding: 4px 0px;
}
.fixed-top.navbar .container.menu .navbar-right .navbar-nav .megamenu .dropdown-item .row .card {
  outline: none;
  border: none;
  max-height: 400px;
  overflow: hidden;
}
@media only screen and (max-width: 991.98px) {
  .fixed-top.navbar .container.menu .navbar-right .navbar-nav .megamenu .dropdown-item .row .card {
    padding: 12px 0px;
  }
}
.fixed-top.navbar .container.menu .navbar-right .navbar-nav .megamenu .dropdown-item .row .card .thumbnail img {
  height: 400px;
  width: 100%;
  transition: all 0.5s ease;
}
@media only screen and (max-width: 991.98px) {
  .fixed-top.navbar .container.menu .navbar-right .navbar-nav .megamenu .dropdown-item .row .card .thumbnail img {
    display: none;
  }
}
.fixed-top.navbar .container.menu .navbar-right .navbar-nav .megamenu .dropdown-item .row .card .thumbnail img:hover {
  transform: scale(1.1);
}
.fixed-top.navbar .container.menu .navbar-right .navbar-nav .megamenu .dropdown-item .row .card .thumbnail span {
  font-size: 2em;
  font-family: 'ProximaNova-Extrabld', sans-serif;
  position: absolute;
  bottom: 60%;
  text-align: center;
  color: #ffffff;
  display: block;
  width: 100%;
  background: linear-gradient(180deg, transparent 10%, rgba(0, 0, 0, 0.1) 50%, transparent 90%);
  white-space: pre-wrap;
  line-height: 1em;
  height: 2em;
}
@media only screen and (max-width: 991.98px) {
  .fixed-top.navbar .container.menu .navbar-right .navbar-nav .megamenu .dropdown-item .row .card .thumbnail span {
    color: grey;
    position: relative;
    font-size: 1em;
    height: 1em;
    background: none;
    text-align: left;
  }
}
.fixed-top.navbar .container.menu .navbar-right .navbar-nav .megamenu .dropdown-item .row .card .thumbnail .button {
  visibility: hidden;
  opacity: 0;
  font-size: 1em;
  font-family: 'ProximaNova-Extrabld', sans-serif;
  position: absolute;
  bottom: 20%;
  text-align: center;
  color: white;
  width: 100%;
  transition: visibility 0s, opacity 0.3s linear;
}
@media only screen and (max-width: 991.98px) {
  .fixed-top.navbar .container.menu .navbar-right .navbar-nav .megamenu .dropdown-item .row .card .thumbnail .button {
    display: none;
  }
}
.fixed-top.navbar .container.menu .navbar-right .navbar-nav .megamenu .dropdown-item .row .card .thumbnail:hover .button {
  visibility: visible;
  opacity: 1;
}
.fixed-top.navbar .container.menu .navbar-right .navbar-nav .megamenu .dropdown-item .row:hover,
.fixed-top.navbar .container.menu .navbar-right .navbar-nav .megamenu .dropdown-item .row:active {
  background-color: #ffffff;
  outline: none;
  border: none;
}
.fixed-top.navbar .container.menu .navbar-right .navbar-nav .megamenu .dropdown-item:hover,
.fixed-top.navbar .container.menu .navbar-right .navbar-nav .megamenu .dropdown-item:active {
  background-color: #ffffff;
  outline: none;
  border: none;
}
@media only screen and (max-width: 991.98px) {
  .fixed-top.navbar .container.menu .navbar-right .navbar-nav .megamenu {
    margin-left: 0;
    margin-right: 0;
  }
  .fixed-top.navbar .container.menu .navbar-right .navbar-nav .megamenu.dropdown-header {
    padding: 3px 15px !important;
  }
}
.fixed-top.navbar .container.menu.menu-deployed .navbar-brand,
.fixed-top.navbar .container.menu.menu-deployed .navbar-nav .nav-item {
  opacity: 0.15;
}
.fixed-top.navbar .container.menu.menu-deployed .navbar-nav .nav-item.show {
  opacity: 1;
}
/* Footer */
.page-footer {
  color: grey;
  font-size: 0.875em;
}
@media only screen and (max-width: 767.98px) {
  .page-footer {
    width: 70%;
    margin: 0px auto;
  }
}
.page-footer a {
  color: grey;
}
.page-footer .col-item h5 {
  text-align: left;
  margin-top: 10px;
  margin-bottom: 5px;
  color: #383838;
}
@media only screen and (max-width: 767.98px) {
  .page-footer .footer-copyright {
    margin: 0px;
    padding: 0px;
  }
}
/*=== HOMEPAGE ===*/
/* Carousel*/
#carouselHome .carousel-item {
  background-size: cover;
  background-position: center;
  height: 100vh;
  transition: all 1s ease-out;
}
#carouselHome .carousel-item .carousel-caption {
  width: 100%;
  right: 0%;
  left: 0%;
  bottom: 35%;
  padding: 30px 0px;
  background: rgba(0, 0, 0, 0.4);
  color: #ffffff;
}
@media only screen and (max-width: 1199.98px) {
  #carouselHome .carousel-item .carousel-caption {
    bottom: 30%;
  }
}
@media only screen and (max-width: 767.98px) {
  #carouselHome .carousel-item .carousel-caption {
    bottom: 15%;
  }
}
@media only screen and (max-width: 767.98px) {
  #carouselHome .carousel-item .carousel-caption {
    padding: 30px;
  }
}
#carouselHome .carousel-item .carousel-caption .infos {
  font-size: 1em;
}
#carouselHome .carousel-item .carousel-caption h2 {
  text-transform: uppercase;
  font-size: 3.5em;
  font-family: 'ProximaNova-Extrabld', sans-serif;
  color: #ffffff;
  padding: 10px 0px;
  margin: 0px;
}
@media only screen and (max-width: 767.98px) {
  #carouselHome .carousel-item .carousel-caption h2 {
    font-size: 2.5em;
  }
}
#carouselHome .carousel-item .carousel-caption p {
  font-size: 1.25em;
}
@media only screen and (max-width: 767.98px) {
  #carouselHome .carousel-item .carousel-caption p {
    font-size: 1.125em;
  }
}
#carouselHome .carousel-item .carousel-caption .buttons {
  margin-top: 35px;
}
#carouselHome .carousel-control-next,
#carouselHome .carousel-control-prev {
  width: 5%;
  z-index: 10;
}
@media only screen and (max-width: 767.98px) {
  #carouselHome .carousel-control-next,
  #carouselHome .carousel-control-prev {
    display: none;
  }
}
/* Presentation */
.container.presentation {
  margin: 80px auto 120px auto;
  text-align: center;
}
.container.presentation .presentation-image {
  height: 150px;
  width: 150px;
  border-radius: 100%;
  margin-bottom: 40px;
}
.container.presentation p {
  margin-bottom: 30px;
  line-height: 1.75em;
  font-size: 1.25em;
}
/* Topics bloc */
#topics .topic-item {
  max-height: 600px;
  overflow: hidden;
  padding: 0px;
  margin: 0px -1px;
}
#topics .topic-item .thumbnail img {
  height: 600px;
  width: 100%;
  transition: all 0.5s ease;
}
@media only screen and (max-width: 1199.98px) {
  #topics .topic-item .thumbnail img {
    height: 300px;
  }
}
#topics .topic-item .thumbnail img:hover {
  transform: scale(1.1);
}
#topics .topic-item .thumbnail span {
  font-size: 2em;
  font-family: 'ProximaNova-Extrabld', sans-serif;
  position: absolute;
  bottom: 10%;
  text-align: center;
  color: white;
  display: block;
  width: 100%;
  background: linear-gradient(180deg, transparent 10%, rgba(0, 0, 0, 0.1) 50%, transparent 90%);
}
@media only screen and (max-width: 767.98px) {
  #topics .topic-item .thumbnail span {
    bottom: 40%;
  }
}
@media only screen and (max-width: 767.98px) {
  #topics .topic-item .thumbnail span {
    font-size: 1.5em;
  }
}
/* Latests posts bloc */
#latestsPosts .row {
  height: 500px;
  overflow: hidden;
}
@media only screen and (max-width: 767.98px) {
  #latestsPosts .row {
    height: auto;
  }
}
#latestsPosts .row .post-item {
  background-size: cover;
  background-position: center;
  min-height: 500px;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 0px;
  transition: all 0.5s ease;
}
#latestsPosts .row .post-item:hover,
#latestsPosts .row .post-item:focus {
  transform: scale(1.02);
}
@media only screen and (max-width: 767.98px) {
  #latestsPosts .row .post-item {
    min-height: 400px;
  }
}
#latestsPosts .row .post-item .content {
  flex-grow: 1;
  text-align: center;
}
#latestsPosts .row .post-item .details {
  background: linear-gradient(180deg, transparent, transparent 0%, rgba(0, 0, 0, 0.5) 96%, rgba(0, 0, 0, 0));
  padding: 5px 5px 20px 25px;
  display: none;
  color: #ffffff;
}
@media only screen and (max-width: 767.98px) {
  #latestsPosts .row .post-item .details {
    background: linear-gradient(180deg, transparent, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.6) 10%, rgba(0, 0, 0, 0.9) 30%, rgba(0, 0, 0, 0.6) 100%);
  }
}
@media only screen and (max-width: 1199.98px) {
  #latestsPosts .row .post-item .details {
    display: block;
  }
}
#latestsPosts .row .post-item .details h3 {
  margin-bottom: 0px;
  text-align: left;
  line-height: 1em;
  font-size: 3em;
}
#latestsPosts .row .post-item .details h3 a:before {
  content: " ";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%!important;
  width: 100%!important;
  display: block;
  z-index: 4;
}
#latestsPosts .row .post-item .details p {
  font-size: 1.5em;
  line-height: 1.125em;
}
@media only screen and (max-width: 767.98px) {
  #latestsPosts .row .post-item .details p {
    font-size: 1.125em;
  }
}
/*=== Page LISTE ARTICLES ===*/
.zones .header-cover {
  height: 75vh;
  padding: 0px;
  position: relative;
}
.zones .header-cover img {
  height: 100%;
  width: 100%;
}
.zones .header-cover h1 {
  position: absolute;
  bottom: 25%;
  width: 100%;
  color: #ffffff;
}
.zones .header-cover .testing-infos {
  position: absolute;
  bottom: 9%;
  color: #ffffff;
  text-align: center;
  width: 100%;
}
.zones .header-cover .testing-infos .infos {
  font-size: 1.25em;
}
.zones .header-cover .testing-infos h1 {
  position: relative;
  text-transform: none;
  font-size: 3.75em;
  margin-bottom: 0px;
}
@media only screen and (max-width: 767.98px) {
  .zones .header-cover .testing-infos h1 {
    font-size: 2.25em;
    padding: 0px 10px;
  }
}
.zones .header-cover .testing-infos p {
  font-size: 1.375em;
  color: #ffffff;
}
.zones .header-cover .articles-filters {
  position: absolute;
  bottom: -20px;
  width: 100% !important;
  max-width: 100% !important;
  text-align: center;
  margin: 0px;
}
@media only screen and (max-width: 767.98px) {
  .zones .header-cover .articles-filters {
    bottom: -65px;
    padding: 0px;
  }
}
.zones .header-cover .articles-filters ul {
  background-color: #ffffff;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1), -5px 0px 5px rgba(0, 0, 0, 0.1), 5px 0px 5px rgba(0, 0, 0, 0.1);
  padding: 0px;
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.zones .header-cover .articles-filters ul li {
  padding: 0px;
}
.zones .header-cover .articles-filters ul li a {
  text-transform: uppercase;
  color: #383838;
  padding: 30px 20px;
  font-family: 'ProximaNova-Bold', sans-serif;
  font-size: 1em;
  line-height: 1em;
  display: inline-block;
}
@media only screen and (max-width: 991.98px) {
  .zones .header-cover .articles-filters ul li a {
    font-size: 0.75em;
    padding: 25px 10px;
  }
}
.zones .header-cover .articles-filters ul li a.active,
.zones .header-cover .articles-filters ul li a:hover,
.zones .header-cover .articles-filters ul li a:focus,
.zones .header-cover .articles-filters ul li a:active {
  border-bottom: 2px solid #9FD659;
}
@media only screen and (max-width: 767.98px) {
  .zones .header-cover .articles-filters ul li a.active,
  .zones .header-cover .articles-filters ul li a:hover,
  .zones .header-cover .articles-filters ul li a:focus,
  .zones .header-cover .articles-filters ul li a:active {
    border: none;
    color: #ffae46;
  }
}
.zones .header-cover .articles-filters ul span {
  height: 18px;
  padding: 18px 0px 25px 0px;
}
.zones .header-cover .articles-filters ul.container-large {
  margin: 0px auto;
}
.zones .news-list .row {
  display: flex;
  flex-wrap: wrap;
}
.zones .news-list .row .col-news {
  padding-right: 8px;
  padding-left: 8px;
  margin-bottom: 50px;
}
@media only screen and (max-width: 767.98px) {
  .zones .news-list .row .col-news:first-child {
    margin-top: 25px;
  }
}
.zones .news-list .row .col-news .news-item {
  position: relative;
  height: 100%;
}
.zones .news-list .row .col-news .news-item .thumbnail-content {
  height: 250px;
  overflow: hidden;
}
.zones .news-list .row .col-news .news-item .thumbnail-content img {
  height: 250px;
  width: 100%;
  transition: all 0.5s ease;
}
.zones .news-list .row .col-news .news-item .thumbnail-content img.hover {
  transform: scale(1.1);
}
.zones .news-list .row .col-news .news-item .news-content {
  color: lightgrey;
  padding: 10px 10px 20px 10px;
}
@media only screen and (max-width: 767.98px) {
  .zones .news-list .row .col-news .news-item .news-content {
    width: 90%;
    margin: 0 auto;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1), -5px 0px 5px rgba(0, 0, 0, 0.1), 5px 0px 5px rgba(0, 0, 0, 0.1);
    padding: 15px;
    margin-top: -30px;
    position: relative;
    background-color: #ffffff;
    text-align: center;
  }
}
.zones .news-list .row .col-news .news-item .news-content .infos {
  text-transform: uppercase;
  font-family: 'ProximaNova-Bold', sans-serif;
  padding: 20px 0px;
  font-size: 0.875em;
}
@media only screen and (max-width: 767.98px) {
  .zones .news-list .row .col-news .news-item .news-content .infos {
    padding: 2px 0px;
    font-size: 0.75em;
  }
}
.zones .news-list .row .col-news .news-item .news-content a {
  color: #383838;
  font-size: 1.375em;
  font-family: 'ProximaNova-Extrabld', sans-serif;
}
@media only screen and (max-width: 767.98px) {
  .zones .news-list .row .col-news .news-item .news-content a {
    font-size: 1.125em;
    font-family: 'ProximaNova-Bold', sans-serif;
  }
}
.zones .news-list .row .col-news .news-item .news-content a:before {
  content: " ";
  position: absolute;
  top: 0;
  left: 0;
  height: 100% !important;
  width: 100% !important;
  display: block;
  z-index: 4;
}
.zones .news-list .row .col-news .news-item .news-content .description {
  font-size: 0.875em;
  padding: 7px 0px 10px 0px;
  line-height: 1.75em;
  height: 6em;
  overflow: hidden;
}
.zones .news-list .row .col-news .news-item .news-content .more {
  color: #383838;
  font-size: 0.875em;
  text-transform: uppercase;
  font-family: 'ProximaNova-Bold', sans-serif;
  position: absolute;
  bottom: 10px;
  right: 10px;
}
.zones .news-list .row .col-news .news-item.hover {
  box-shadow: 0 4px 19px 0 rgba(58, 58, 60, 0.25);
}
/*=== Page TEST PRODUIT ===*/
#testProduit .header-cover .mobile-score {
  width: 100%;
  margin-top: 20px;
}
#testProduit .header-cover .mobile-score .total-score {
  position: relative;
  margin: 0 auto;
}
#testProduit .container.product-pictos {
  margin: 0 auto;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1), -5px 0px 5px rgba(0, 0, 0, 0.1), 5px 0px 5px rgba(0, 0, 0, 0.1);
}
@media only screen and (max-width: 767.98px) {
  #testProduit .container.product-pictos {
    padding: 0px 0px 0px 20px;
  }
}
#testProduit .container.product-pictos .container {
  margin: 0 auto;
  position: relative;
}
@media only screen and (max-width: 767.98px) {
  #testProduit .container.product-pictos .container {
    padding: 0px;
    overflow-x: scroll;
    width: 100%;
  }
}
#testProduit .container.product-pictos .container ul {
  padding: 0px;
  margin: 0px 15% 0px 0px;
  height: 90px;
  line-height: 90px;
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  color: #686868;
  font-family: 'ProximaNova-Bold', sans-serif;
}
@media only screen and (max-width: 767.98px) {
  #testProduit .container.product-pictos .container ul {
    margin-right: 0px;
    display: inline-block;
    flex-wrap: nowrap;
    width: 650px;
  }
}
@media only screen and (max-width: 767.98px) {
  #testProduit .container.product-pictos .container ul li {
    display: inline-block;
    padding-right: 20px;
  }
}
#testProduit .container.product-pictos .container ul li img {
  margin-right: 10px;
}
#testProduit .container.product-pictos .container ul li img.with-margin {
  margin-bottom: 10px;
}
#testProduit .summary .product {
  position: relative;
  background-color: #E5E5E5;
}
#testProduit .summary .product h3 {
  text-transform: uppercase;
  font-family: 'ProximaNova-Bold', sans-serif;
  font-size: 3.25em;
  color: #383838;
  margin: 130px 0px 0px 40%;
  line-height: 1.625em;
  text-align: left;
}
@media only screen and (max-width: 767.98px) {
  #testProduit .summary .product h3 {
    font-size: 2.25em;
    margin: 30px 0px 0px 0px;
  }
}
#testProduit .summary .product .total-score {
  top: 0px;
  right: -67px;
  font-size: 0.75em;
  font-family: 'ProximaNova-Extrabld', sans-serif;
  z-index: 999;
}
#testProduit .summary .product .total-score .note {
  margin-top: 5px;
  font-size: 4.25em;
  line-height: 1em;
}
#testProduit .summary .full-score {
  padding-right: 10%;
}
@media only screen and (max-width: 767.98px) {
  #testProduit .summary .full-score {
    padding-right: 15px;
  }
}
#testProduit .summary .full-score h3 {
  margin-top: 50px;
  color: #383838;
  font-size: 3em;
}
@media only screen and (max-width: 767.98px) {
  #testProduit .summary .full-score h3 {
    font-size: 2.25em;
  }
}
#testProduit .summary .full-score .score-details {
  width: 90%;
  margin: 0 auto;
}
@media only screen and (max-width: 767.98px) {
  #testProduit .summary .full-score .score-details {
    width: 100%;
  }
}
#testProduit .summary .full-score .score-details .score-item {
  padding: 15px 0px;
}
#testProduit .summary .full-score .score-details .score-item .title {
  text-align: right;
  font-family: 'ProximaNova-Bold', sans-serif;
  font-size: 1.125em;
}
@media only screen and (max-width: 767.98px) {
  #testProduit .summary .full-score .score-details .score-item .title {
    font-size: 0.875em;
  }
}
#testProduit .summary .full-score .score-details .score-item .progressbar {
  height: 12px;
  margin-top: 5px;
}
#testProduit .summary .full-score .score-details .score-item .progressbar .progress {
  border-radius: 10px;
  background-color: #EAEAEA;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1), -5px 0px 5px rgba(0, 0, 0, 0.1), 5px 0px 5px rgba(0, 0, 0, 0.1);
}
#testProduit .summary .full-score .score-details .score-item .progressbar .progress .progress-bar {
  background: linear-gradient(to right, #FFAE46, #FF428D);
  border-radius: 10px;
}
#testProduit .summary .full-score .score-details .score-item .ranking {
  font-family: 'ProximaNova-Bold', sans-serif;
  font-size: 1.125em;
}
@media only screen and (max-width: 767.98px) {
  #testProduit .summary .full-score .score-details .score-item .ranking {
    font-size: 0.875em;
  }
}
.total-score {
  background: linear-gradient(to right, #FFAE46, #FF428D);
  border-radius: 100%;
  padding: 20px;
  color: #ffffff;
  position: absolute;
  top: 0px;
  right: 0px;
  width: 135px;
  height: 135px;
  text-transform: uppercase;
  font-size: 0.75em;
  font-family: 'ProximaNova-Extrabld', sans-serif;
  text-align: center;
}
@media only screen and (max-width: 767.98px) {
  .total-score {
    padding: 10px;
    width: 95px;
    height: 95px;
    font-size: 0.625em;
  }
}
.total-score .text {
  margin-top: 10px;
}
@media only screen and (max-width: 767.98px) {
  .total-score .text {
    margin-top: 15px;
  }
}
.total-score .note {
  font-size: 4.25em;
  line-height: 1em;
}
@media only screen and (max-width: 767.98px) {
  .total-score .note {
    font-size: 3.25em;
  }
}
.total-score.black {
  background: #383838;
}
.container-rich-text .introduction {
  font-size: 1.125em;
  color: #383838;
  margin-bottom: 50px;
}
@media only screen and (max-width: 767.98px) {
  .container-rich-text .introduction {
    font-size: 0.875em;
  }
}
.container-rich-text .introduction p {
  color: #383838;
  font-size: 1.375em;
}
.container-rich-text .content {
  font-size: 0.875em;
  color: #383838;
}
@media only screen and (max-width: 767.98px) {
  .container-rich-text .content {
    font-size: 0.75em;
  }
}
.container-rich-text .content p {
  margin: 0px 0px 30px 0px;
  line-height: 1.875em;
}
.container-rich-text .content h2 {
  font-size: 3.5em;
  text-align: left;
  color: #383838;
  margin: 40px auto 15px auto;
}
@media only screen and (max-width: 767.98px) {
  .container-rich-text .content h2 {
    font-size: 2.25em;
  }
}
.container-rich-text .content h3 {
  font-size: 2.75em;
  text-align: left;
  color: #383838;
  margin: 30px auto 10px auto;
}
@media only screen and (max-width: 767.98px) {
  .container-rich-text .content h3 {
    font-size: 1.875em;
  }
}
.container-rich-text .content .object-img {
  margin: auto -25%;
}
@media only screen and (max-width: 767.98px) {
  .container-rich-text .content .object-img {
    margin: auto -5%;
  }
}
.container-rich-text .content .carousel {
  margin: auto -25%;
}
@media only screen and (max-width: 767.98px) {
  .container-rich-text .content .carousel {
    margin: auto -5%;
  }
}
.container-rich-text .content .carousel .image {
  padding: 20px 10px 0px 10px;
}
.container-rich-text .content .carousel .image img {
  height: 300px;
}
@media only screen and (max-width: 767.98px) {
  .container-rich-text .content .carousel .image img {
    height: auto;
  }
}
.container-rich-text .content .carousel .image:first-child {
  padding-right: 10px;
  padding-left: 10px;
}
.container-rich-text .content .carousel .image:first-child img {
  height: 600px;
}
@media only screen and (max-width: 767.98px) {
  .container-rich-text .content .carousel .image:first-child img {
    height: auto;
  }
}
/*===================*/
/*=== UTILITAIRES ===*/
/*===================*/
h1,
h2,
h3,
h4,
h5 {
  text-align: center;
  margin-bottom: 20px;
  font-family: 'ProximaNova-Extrabld', sans-serif;
}
h1 {
  text-transform: uppercase;
  font-size: 4.5em;
}
@media only screen and (max-width: 1199.98px) {
  h1 {
    font-size: 3em;
  }
}
@media only screen and (max-width: 767.98px) {
  h1 {
    font-size: 2em;
  }
}
h2 {
  font-size: 4.25em;
  color: #000000;
}
@media only screen and (max-width: 1199.98px) {
  h2 {
    font-size: 3.5em;
  }
}
@media only screen and (max-width: 991.98px) {
  h2 {
    font-size: 3em;
  }
}
@media only screen and (max-width: 767.98px) {
  h2 {
    font-size: 2.125em;
  }
}
h3 {
  font-size: 3.5em;
  color: #ffffff;
}
@media only screen and (max-width: 1199.98px) {
  h3 {
    font-size: 3em;
  }
}
@media only screen and (max-width: 991.98px) {
  h3 {
    font-size: 2.5em;
  }
}
@media only screen and (max-width: 767.98px) {
  h3 {
    font-size: 1.75em;
  }
}
h5 {
  font-family: 'ProximaNova-Bold', sans-serif;
}
a {
  color: #ffffff;
  text-decoration: none;
}
a:active,
a:hover,
a:focus {
  text-decoration: none;
  color: #ffffff;
}
p {
  color: grey;
  font-size: 1.25em;
}
.white {
  color: #ffffff;
}
.hide {
  display: none;
}
.show {
  display: block;
}
.container {
  margin: 70px auto;
}
.container.no-margin {
  margin: 0px auto;
}
.container-menu {
  margin: 0px;
  height: 80px;
}
.container-medium {
  width: 60%;
  max-width: 60%;
}
@media only screen and (max-width: 767.98px) {
  .container-medium {
    width: 100%;
    max-width: 100%;
  }
}
.container-rich-text {
  width: 50%;
  max-width: 50%;
}
@media only screen and (max-width: 767.98px) {
  .container-rich-text {
    width: 100%;
    max-width: 100%;
    margin-top: 50px;
  }
}
.container-large {
  width: 75%;
  max-width: 75%;
}
@media only screen and (max-width: 1199.98px) {
  .container-large {
    width: 90%;
    max-width: 90%;
  }
}
@media only screen and (max-width: 767.98px) {
  .container-large {
    width: 100%;
    max-width: 100%;
  }
}
@media only screen and (max-width: 1365.98px) {
  .container-full-width-laptop {
    width: 100%;
    max-width: 100%;
  }
}
.container-full-width {
  width: 100%;
  max-width: 100%;
}
.margin-top-added {
  margin-top: 140px;
}
@media only screen and (max-width: 1365.98px) {
  .margin-top-added {
    margin-top: 120px;
  }
}
@media only screen and (max-width: 1199.98px) {
  .margin-top-added {
    margin-top: 100px;
  }
}
.btn-rond {
  color: #ffffff;
  border: 1px solid #ffffff;
  font-size: 0.875em;
  border-radius: 30px;
  padding: 0 25px;
  white-space: normal;
  line-height: 30px;
  font-family: 'ProximaNova-Bold', sans-serif;
  width: auto;
  display: inline-block;
}
.btn-rond.padding-large {
  padding: 5px 40px;
}
.btn-rond.black {
  background-color: #383838;
  border: 1px solid #383838;
}
.btn:hover {
  color: #ffffff;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  background-color: rgba(100, 100, 100, 0.5);
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.3s linear;
}
.overlay.visible {
  visibility: visible;
  opacity: 1;
}
.img-cover {
  object-fit: cover;
}
.opacity-filter {
  width: 100%;
  height: 100%;
  background-color: #000000;
  filter: opacity(40%);
  position: absolute;
  top: 0;
  left: 0;
}
.opacity-filter.light {
  background: linear-gradient(to bottom, transparent 0%, #000000 100%);
  filter: opacity(50%);
}
/*# sourceMappingURL=style.css.map */